<div
  class="relative flex flex-col items-center justify-center bg-gradient-to-b from-gray-900 to-black text-white py-16"
>
  <div class="max-w-2xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-center text-black">
      Yeni Anket Oluştur
    </h2>

    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- Anket Başlığı -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Anket Başlığı</mat-label>
        <input
          maxlength="50"
          minlength="5"
          matInput
          type="text"
          formControlName="title"
        />
        <mat-error
          *ngIf="
            pollForm.get('title')?.hasError('required') &&
            pollForm.get('title')?.touched
          "
          class="text-red-500"
        >
          Başlık <strong>zorunlu</strong>
        </mat-error>
        <mat-error
          *ngIf="
            pollForm.get('title')?.hasError('minlength') &&
            pollForm.get('title')?.touched
          "
          class="text-red-500"
          >En az 5 karakter
        </mat-error>
        <mat-error
          *ngIf="
            pollForm.get('title')?.hasError('maxlength') &&
            pollForm.get('title')?.touched
          "
          class="text-red-500"
        >
          En fazla 50 karakter
        </mat-error>
      </mat-form-field>

      <!-- Açıklama -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Açıklama</mat-label>
        <textarea
          matInput
          formControlName="description"
          maxlength="1000"
        ></textarea>
        <mat-error
          *ngIf="
            pollForm.get('description')?.hasError('required') &&
            pollForm.get('description')?.touched
          "
          class="text-red-500"
        >
          Açıklama <strong>zorunlu</strong>
        </mat-error>
        <mat-error
          *ngIf="
            pollForm.get('description')?.hasError('minlength') &&
            pollForm.get('description')?.touched
          "
          class="text-red-500"
          >En az 10 karakter
        </mat-error>
        <mat-error
          *ngIf="
            pollForm.get('description')?.hasError('maxlength') &&
            pollForm.get('description')?.touched
          "
          class="text-red-500"
          >En fazla 1000 karakter
        </mat-error>
      </mat-form-field>

      <!-- Başlangıç Tarihi -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Başlangıç Tarihi</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="createdDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="
            pollForm.get('createdDate')?.hasError('required') &&
            pollForm.get('createdDate')?.touched
          "
          class="text-red-500"
        >
          Başlangıç tarihi <strong>zorunlu</strong>
        </mat-error>
      </mat-form-field>

      <!-- Bitiş Tarihi -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Bitiş Tarihi</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          formControlName="expiryDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error
          *ngIf="
            pollForm.get('expiryDate')?.hasError('required') &&
            pollForm.get('expiryDate')?.touched
          "
          class="text-red-500"
        >
          Bitiş tarihi <strong>zorunlu</strong>
        </mat-error>
      </mat-form-field>

      <!-- Aktif Mi? -->
      <mat-checkbox formControlName="isActive" class="mt-2">
        Aktif Mi?
      </mat-checkbox>

      <!-- Sorular Bölümü - Daha belirgin stil -->
      <div class="mt-8 mb-4">
        <h3
          class="text-xl font-bold text-purple-800 border-b-2 border-purple-500 pb-2"
        >
          Anket Soruları
        </h3>
      </div>

      <!-- Sorular -->
      <div
        formArrayName="questions"
        *ngFor="let questionControl of questions.controls; let i = index"
        class="space-y-4 p-5 border-2 border-purple-300 rounded-lg bg-purple-50 shadow-md mb-6"
      >
        <div
          class="flex justify-between items-center bg-purple-100 -m-5 mb-4 p-3 rounded-t-lg border-b border-purple-200"
          [formGroupName]="i"
        >
          <h3 class="text-lg font-semibold text-purple-800">
            Soru {{ i + 1 }}
          </h3>
          <button
            mat-icon-button
            type="button"
            (click)="removeQuestion(i)"
            class="bg-red-50 hover:bg-red-100 rounded-full"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>

        <div [formGroupName]="i">
          <!-- Soru Metni -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Soru Metni</mat-label>
            <input matInput formControlName="text" />
            <mat-error
              *ngIf="
                questionControl.get('text')?.hasError('required') &&
                questionControl.get('text')?.touched
              "
              class="text-red-500"
            >
              Soru metni <strong>zorunlu</strong>
            </mat-error>
          </mat-form-field>

          <!-- Soru Türü -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Soru Türü</mat-label>
            <mat-select formControlName="type">
              <mat-option value="0">Tek Seçim</mat-option>
              <mat-option value="1">Metin</mat-option>
              <mat-option value="2">Doğru Yanlış</mat-option>
              <mat-option value="3">Çoklu Seçim</mat-option>
              <mat-option value="4">Sıralama</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Zorunlu Mu? -->
          <mat-checkbox formControlName="isRequired" class="ml-1">
            <span class="font-medium">Zorunlu Mu?</span>
          </mat-checkbox>

          <!-- Maksimum Seçim Sayısı -->
          <mat-form-field
            appearance="fill"
            class="w-full"
            *ngIf="needsMaxSelections(questionControl.get('type')?.value)"
          >
            <mat-label>Maksimum Seçim Sayısı</mat-label>
            <input matInput type="number" formControlName="maxSelections" />
          </mat-form-field>

          <!-- Seçenekler Bölümü - Belirgin başlık -->
          <div
            class="bg-blue-50 rounded-md p-3 mt-4 border border-blue-200"
            *ngIf="allowsOptions(questionControl.get('type')?.value)"
          >
            <h4
              class="text-md font-semibold text-blue-700 mb-3 border-b border-blue-200 pb-2"
            >
              Soru Seçenekleri
            </h4>

            <!-- Seçenekler -->
            <div
              formArrayName="options"
              *ngFor="
                let optionControl of getOptions(i).controls;
                let j = index
              "
              class="space-y-2 p-3 mb-3 border border-blue-100 rounded-md bg-white"
            >
              <div
                class="flex justify-between items-center"
                [formGroupName]="j"
              >
                <h4 class="text-md font-medium text-blue-600">
                  Seçenek {{ j + 1 }}
                </h4>
                <button
                  mat-icon-button
                  type="button"
                  (click)="removeOption(i, j)"
                  class="bg-red-50 hover:bg-red-100 rounded-full h-8 w-8 flex items-center justify-center"
                >
                  <mat-icon color="warn" class="text-sm">delete</mat-icon>
                </button>
              </div>

              <div [formGroupName]="j">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Seçenek Metni</mat-label>
                  <input matInput formControlName="text" />
                  <mat-error
                    *ngIf="
                      optionControl.get('text')?.hasError('required') &&
                      optionControl.get('text')?.touched
                    "
                    class="text-red-500"
                  >
                    Seçenek metni <strong>zorunlu</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-button
              type="button"
              (click)="addOption(i)"
              class="w-full bg-blue-100 text-blue-700 px-4 py-2 rounded-md hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 flex items-center justify-center"
            >
              <mat-icon class="mr-1">add_circle</mat-icon>
              Seçenek Ekle
            </button>
          </div>
        </div>
      </div>

      <!-- Soru Ekle Butonu -->
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="addQuestion()"
        class="w-full py-3 bg-purple-600 hover:bg-purple-700 flex items-center justify-center"
      >
        <mat-icon class="mr-2">add_circle</mat-icon>
        Yeni Soru Ekle
      </button>

      <!-- Anketi Oluştur Butonu -->
      <button
        mat-raised-button
        type="submit"
        color="accent"
        [disabled]="pollForm.invalid"
        class="w-full py-3 mt-8 bg-green-600 hover:bg-green-700"
      >
        <mat-icon class="mr-2">check_circle</mat-icon>
        Anketi Oluştur
      </button>
    </form>
  </div>
</div>
