<div
  class="min-h-screen bg-gradient-to-b from-blue-800 via-blue-700 to-teal-600 flex flex-colflex items-center justify-center px-4 bg-gray-100"
>
  <form
    class="shadow-md rounded-lg p-6 bg-white w-full max-w-md"
    [formGroup]="form"
    (ngSubmit)="login()"
  >
    <div class="py-4 text-center">
      <h1 class="font-bold text-xl text-black">Giriş Yap</h1>
      <p class="text-slate-600 text-base">Hesabınıza giriş yapın</p>
    </div>
    <div class="">
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email <strong>zorunlu</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-6">
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Şifre</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          placeholder="Şifre"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon (click)="hide = !hide" matSuffix>
          {{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="form.get('password')?.hasError('required')"
          class="text-red-500"
        >
          Şifre <strong>zorunlu</strong>
        </mat-error>
        <mat-error
          *ngIf="form.get('password')?.hasError('minlength')"
          class="text-red-500"
        >
          Şifre en az <strong>8 karakter</strong> olmalıdır
        </mat-error>
        <mat-error
          *ngIf="form.get('password')?.hasError('pattern')"
          class="text-red-500"
        >
          Şifre en az bir <strong>büyük harf, küçük harf, rakam</strong> ve
          <strong>özel karakter</strong> içermelidir
        </mat-error>
      </mat-form-field>
    </div>

    <button
      [disabled]="!form.valid"
      type="submit"
      class="w-full border border-slate-200 rounded-lg disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold"
    >
      Giriş Yap
    </button>

    <div class="my-5 text-center">
      <span class="text-slate-600">
        Hesabınız yok mu?
        <a routerLink="/register" class="text-purple-700 font-medium"
          >Kayıt olun</a
        >
      </span>
    </div>
  </form>
</div>
