<div class="">
  <mat-toolbar color="#ffffff" style="padding: 10px 50px">
    <button mat-icon-button routerLink="/">
      <mat-icon>poll</mat-icon>
    </button>
    <a routerLink="/">POLLING-APP</a>
    <div class="w-full"></div>
    @if(isLoggedIn()){
    <div *ngIf="authService.getUserDetail() as userDetail">
      <div class="flex gap-5 items-center">
        <a
          [matMenuTriggerFor]="menu"
          class="flex gap-2 cursor-pointer items-center"
        >
          <div
            class="bg-blue-800 text-white font-bold shadow-md rounded-full w-5 h-5 p-5 flex justify-center items-center"
          >
            {{ userDetail!.fullName[0].toUpperCase() }}
          </div>
          <div class="text-black flex flex-col">
            <h1 class="p-0 m-0 font-medium">{{ userDetail?.fullName }}</h1>
            <p class="p-0 m-0 font-medium text-xs">{{ userDetail?.roles }}</p>
          </div>
        </a>
        <mat-menu #menu="matMenu">
          @if(userDetail.roles == 'Admin'){
          <button routerLink="/users" mat-menu-item>
            <mat-icon> group </mat-icon>
            <span>Users List</span>
          </button>
          <button routerLink="/poll-create" mat-menu-item>
            <mat-icon> create </mat-icon>
            <span>Poll Create</span>
          </button>
          <button routerLink="/polls" mat-menu-item>
            <mat-icon> list </mat-icon>
            <span>Poll List</span>
          </button>
          <button routerLink="/category-create" mat-menu-item>
            <mat-icon> category </mat-icon>
            <span>Category Create</span>
          </button>
          }
          <button (click)="logout()" mat-menu-item>
            <mat-icon> logout </mat-icon>Logout
            <span class="px-10 text-start"></span>
          </button>
        </mat-menu>
      </div>
    </div>
    } @else {
    <div>
      <div class="flex gap-5 items-center">
        <a mat-button routerLink="/login"> Login </a>
        <a mat-button routerLink="/register"> Register </a>
      </div>
    </div>
    }
  </mat-toolbar>
</div>
